
  
  #calendar {
    max-width: 900px;
    margin-top: 37px;
    margin-left: 60px;
  }


  #sidebar{
      margin-left: 60px;
      margin-top: 100px
  }
  .btn{
      margin-top: 5px;
  }

  .navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 35px!important;
}
.navbar-nav{
    float: right!important;
    font-family: 'Big Shoulders Display', cursive;
    font-size:20px;
}
.navbar-collapse 
{
    text-align: right!important;
}
.space-filler
{
    flex:1 1;
}

h1{
    text-align: left;
    font-family: 'Big Shoulders Display', cursive;
    
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    text-align: center;
    margin-top: 120px;
    font-size: 20px;
}

.border.register{
    padding: 10px;
    background-color: whitesmoke;
}

#signIn{
    margin: 50px 400px auto;
}

#logoutImage{
    object-position: center;
    align-content: center;
    margin: 120px auto;
background-size: contain;
}

#signOut{
    object-position: center;
    align-content: center;
    margin: 20px auto;
    text-align: center;
}

.jumbotron{
    background-image: rl("https://46nuwl3acn7q25gnmb32k5qh-wpengine.netdna-ssl.com/wp-content/uploads/2018/06/business-people-businesswoman-calendar-11874392.jpg");
    background-image: url("https://picserio.com/data/out/346/office-work-wallpapers_5537839.jpg");
    color:white;
    text-align: left;
    background-size: 100% 100%;
    height: 600px;

}
p{
    font-size: 22px;
    font-family: 'Big Shoulders Display', cursive;
}